@font-face {
    font-family: 'SFCompactDisplay-Regular';
    src:
            url('../fonts/SFCompactDisplay-Regular.eot') format('embedded-opentype'),
            url('../fonts/SFCompactDisplay-Regular.otf')  format('opentype'),
            url('../fonts/SFCompactDisplay-Regular.woff') format('woff'),
            url('../fonts/SFCompactDisplay-Regular.ttf')  format('truetype'),
            url('../fonts/SFCompactDisplay-Regular.svg#SFCompactDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFCompactDisplay-Medium';
    src:
            url('../fonts/SFCompactDisplay-Medium.eot') format('embedded-opentype'),
            url('../fonts/SFCompactDisplay-Medium.otf')  format('opentype'),
            url('../fonts/SFCompactDisplay-Medium.woff') format('woff'),
            url('../fonts/SFCompactDisplay-Medium.ttf')  format('truetype'),
            url('../fonts/SFCompactDisplay-Medium.svg#SFCompactDisplay-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SFCompactDisplay-Bold';
    src:
            url('../fonts/SFCompactDisplay-Bold.eot') format('embedded-opentype'),
            url('../fonts/SFCompactDisplay-Bold.otf')  format('opentype'),
            url('../fonts/SFCompactDisplay-Bold.woff') format('woff'),
            url('../fonts/SFCompactDisplay-Bold.ttf')  format('truetype'),
            url('../fonts/SFCompactDisplay-Bold.svg#SFCompactDisplay-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    font-family: 'SFCompactDisplay-Regular';
    font-size: 16px;
    line-height: 1.2;
    color: #050505;
    background: #fff;
}

.app-top {
    height: 5px;
    border-bottom: 1px solid #b6b4b6;
}
.app-bottom {
    height: 5px;
    border-top: 1px solid #b6b4b6;
}
.app-container {
    max-width: 992px;
    margin: 0 auto;
}
.app-footer-under {
    padding: 40px 10px 40px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 0.2px;
    opacity: .54;
    line-height: 1.4;
}
.app-footer {
    padding: 0 10px 40px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;
    opacity: .8;
}
.app-phone {
    display: block;
    color: #050505;
    text-decoration: none;
}
.app-phone > div {
    min-height: 95px;
    padding-left: 100px;
    background: url(../img/phone.png) no-repeat 16px 19px;
    overflow: hidden;
}
.app-phone__text {
    font-size: 13px;
    padding-top: 7px;
}
.app-phone__number {
    font-size: 27px;
    margin-top: 19px;
    color: #ff001a;
    text-decoration: underline;
    font-family: 'SFCompactDisplay-Bold';
}
.app-phone:hover .app-phone__number {
    text-decoration: none;
}
.app-banner {
    padding-top: 30px;
    border-top: 1px solid #ebe9e9;
}
.app-banner img {
    display: block;
    width: 100%;
}

.app-logo {
    margin: 25px 0 15px;
    width: 320px;
    height: 63px;
    background: url(../img/logo-25.svg) no-repeat;
}

@media (max-width: 991.98px) {
    .-device {
        display: none !important;
    }
    .app-head {
        padding: 0 15px;
    }
    .app-phone {
        background: #ebe9e9;
        border: 0;
        padding: 10px;
    }
    .app-phone > div {
        border-radius: 35px;
        background: url(../img/phone-mob.png) no-repeat 11px 11px #fff;
        min-height: 70px;
        padding-left: 76px;
    }
    .app-phone__text {
    }
    .app-phone__number {
        font-size: 27px;
        margin-top: 6px;
    }
    .app-footer-under {
        font-size: 16px;
    }
    .app-footer {
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    .-mobile {
        display: none !important;
    }
    .app-phones-box {
        overflow: hidden;
        margin-top: 20px;
    }
    .app-phone.-fr {
        float: right;
    }
    .app-phone.-fl {
        float: left;
    }
}
