* {
    color: #000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html,
body {
    /* min-height: 100vh; */
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    padding: 30px 0;
}

.header__logo {
    width: 320px;
}

img {
    max-width: 100%;
}

.jumbo {
    border-top: 1px solid #D8D8D8;
    padding: 30px 0;
}

.jumbo .column {
    background: #9D9D9D url('../images/callers.png') no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: 100%;
}

.jumbo__inner {
    color: #fff;
    padding: 30px 40px !important;
    padding-right: 265px !important;
}

.jumbo__inner h1 {
    font-size: 1.45rem;
    font-weight: bold;
}

.jumbo__inner h2 {
    font-size: 0.9rem;
    line-height: 24px;
}

.tiles {
    flex: 1;
    margin-bottom: 20px;
}

.tiles .column {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tiles .tile {
    background: #F2F2F2;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    margin-right: 20px;
    width: 33.3336%;
    height: fit-content;
    padding: 10px;
}

.tiles .tile:last-child {
    margin-right: 0 !important;
}

.tile-icon {
    border-radius: 50%;
    border: 1px solid #D8D8D8;
    width: 46px;
    height: 46px;
    text-align: center;
}

.example-tile-icon {
    padding-top: 0.45rem;
}

.tile-title {
    font-size: 0.7rem !important;
    line-height: 1.0rem !important;
    margin: 0 !important;
    padding: 0 !important;
}

.tile-subtitle a {
    font-size: 0.9rem !important;
    font-weight: bold;
}

.tiles a {
    color: #DC3B41;
    text-decoration: none;
}

.footer p {
    font-size: 0.6rem !important;
    line-height: 0.9rem;
    opacity: 0.54;
    margin-bottom: 0 !important;
}

.footer .copy {
    font-size: 0.6rem !important;
    opacity: 0.8;
    padding: 20px 0 !important;
}

@media (min-width: 1000px) {
    .container {
        width: 920px;
    }

    .header__logo-img {
        height: 63px;
    }
}

@media (max-width: 760px) {

    html,
    body {
        height: auto;
    }

    .jumbo {
        margin-left: -.4rem !important;
        margin-right: -.4rem !important;
    }

    .jumbo .column {
        background: #9D9D9D url('../images/callers.png') no-repeat;
        background-position-x: 50%;
        background-position-y: 100%;
        padding-bottom: 120px;
    }

    .jumbo__inner {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .jumbo__inner h1 {
        font-size: 1.2rem;
    }

    .jumbo__inner h2 {
        font-size: 0.7rem;
    }

    .tiles .column {
        flex-direction: column !important;
        margin-bottom: 60px;
    }

    .tile {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100% !important;
        min-height: 74px;
    }
}

@media (max-width: 420px) {
    .jumbo {
        background-position-x: calc(100% - 10px); 
    }
}